.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
    font-size: 20px;
    border: 3px solid green;
    background: pink;
}
.inputarr,.outputarr{
    
    display: flex;
    justify-content: space-around;
} 
.inputarr div,.outputarr div{
    border: 1px solid gray;
}
.content{
    display: flex;
    justify-content: space-around;
}